
<mat-toolbar color="primary" style="background-color: #4285f4 !important;">
  <!-- *ngIf="isLoggedIn$ | async as isLoggedIn" -->
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <span class="menu-spacer"></span>
    <div>
      <button mat-button [routerLink]="'/'"> Home </button>
      <button mat-button [routerLink]="'/register'"> Products </button>

    </div>
    <span class="fill-remaining-space"></span>
    <form class="form-inline md-form mr-auto mb-4">
      <input style="color: ivory;" class="form-control mr-sm-2" type="text" placeholder="Search product" aria-label="Search">
      <button mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Search</button>
    </form>
    <!-- *ngIf="isLoggedIn" -->
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav (click)="sidenav.toggle()" style="width: 20%;">
    <mat-nav-list  *ngIf="isLoggedIn$ | async as isLoggedIn; else notlogged">
      <div *ngFor='let user of userData'>
      <a mat-list-item > 
          Hello {{user.first_name}}
      </a>
    </div>
    <a mat-list-item (click)="onLogout()">Logout</a>
    </mat-nav-list>
    <ng-template #notlogged>
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/login'">Login</a>
        <a mat-list-item [routerLink]="'/register'" > 
          Register
        </a>
      </mat-nav-list>
    </ng-template>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 100%;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>